* {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;

}



body {
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #ffff;

}

.registration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.registration h1 {

    font-size: 30px;
    text-align: center;
    margin: 40px ;

}

.registration p {
    font-size: 20px;
    margin: 15px 0px;

}

.registration input {
    font-size: 16px;
    padding: 12px;
    width: 100%;
    border-radius: 12px;
    outline: none;
    


}

.registration button {

    font-size: 18px;
    font-weight: bold;
    margin: 20px 100px;
    padding: 10px;
    width: 50%;
    border: 0;
    border-radius: 10px;
    background-color: #ffff;
}
.registration button:hover{
    color: red;
}